{% extends 'base.html' %}
{% block content %}
<div class="container header-container ">
    <div class="black-bg rounded p-5">
        <h3 class="orange-text">Checkout</h3>
        <ul class="list-group">
            {% for reservation in reservations %}
                <li class="list-group-item">
                    {{ reservation.book.title }} - {{ reservation.start_date }} to {{ reservation.end_date }}
                    -  € {{ reservation.price }}
                </li><br>
            {% empty %}
                <li class="list-group-item orange-text">No reservations to checkout.</li>
            {% endfor %}
        </ul>
        <p class="orange-text mt-3">Total Price: ${{ total_price }}</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn orange-color">Checkout</button>
        </form>
    </div>
</div>
{% endblock %}